<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Swift02-1.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>65544F4B1B3DA3CD000C4F41</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>65544F5F1B3DA3CD000C4F41</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>65544F6A1B3DA3CD000C4F41</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
